{% extends "Quiz/main.twig" %}
{% block title %}Nazwa {{ quiz.getName() }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <iframe src="{{quit.getUrl()}}" width="600" height="800"></iframe>


    </div>
</div>
{%  endblock %}